<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>PERSONAL POKEDEX</h1>
    <div id="wrapper">
      <div id="reset">
        <button id="redo" (click)="reset()">RESET</button>
      </div>
      <img id=pokedex src="../assets/pokedex.png" alt="">
      <div id="input" >
        <app-input *ngIf="submit; else info"
        (entered)="enter($event)"
        
        ></app-input>
      </div>
      
      </div>
        <ng-template #info>
          <app-output [pokedata]="pokedata"
          [flavor]="flavor">
        </app-output>
        </ng-template>
        <div id="m_out">
          <app-mongo
          (get)="get($event)"
          (post)="post($event)"
          (put)="put($event)"
          (delete)="delete($event)"
    
          [m_info]="m_info"
    
          ></app-mongo>
    </div> 
    

    

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
