/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('https://st2.depositphotos.com/1672734/5244/i/950/depositphotos_52445473-stock-photo-ancient-egypt-background-with-pharaoh.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}