body {font: 14px Helvetica, Arial; 
    width:100vw; 
    height:100vh;
    resize: both; 
    background-image: url(img/grassbackground.png); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
}


#wrapper {
    position: relative;
    width: 100%;
}

#pokedex {
    height: 80vh;
    top: 1;
}

#content,#info {
    position: absolute;
    top: 20vh;
    text-align: center;
    width: 55%;
    left: 22.5%;
    height: 55%;
    word-wrap: break-word;
    font-size: 3.2em;
}
#info {
    display:none;
}

#pokesubmit {
    border: none;
    background-image: url(pokeball.png);
}

#pokeball {
    width: 35%;
    top: 50%;
    position: relative;
    transition: 0.5s;
}

#pokeball:hover {
    width: 30%;
    cursor: pointer;
}
#reset button{
    border: red solid 1px;
    background-color: rgb(218, 218, 218);
    border-radius: 5%;
    transition: .5s;
    width: 10%;
    left: 45%;
    top: 3%;
    position: absolute;
    font-size: 2em;
}

#reset button:hover{
    background-color: rgb(253, 208, 208);
    cursor: pointer;
}

#enter,#pokeform {
    height: 100%;
}

#user,#verb {
    background-color: rgb(184, 235, 255);
    border: skyblue 1px solid;
    text-align: center;
}

#pokepic, #back {
    width: 95%;
    margin-top: -10%;
    margin-bottom: -10%;
    position:absolute;
    left: 0%;
    border-radius: 25%;
}

#pokepic:hover, #back:hover {
    cursor: pointer;
}

#under {
    height: 100%;
}
#pre,#types {
    margin-top: 90%;
}

#back {
    display: none;
}

#types, #abilities ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#abilities li {
    padding-left: 4px;
}

#types li{
    display: inline-block;
    margin: 2px;
    padding: 4px;
    border: 1px black solid;
    width: min-content;
    text-transform: uppercase;
    border-radius: 5%;
}

#verb {
    font-size:.81em;
}

#pokename {
    text-transform:capitalize;
}

#pic {
    float: left;
    width: 50%;
    display: block;
    text-align: center;
    position: relative;
}
#stats, #stats ul {
    float: left;
    width: 45%;
    display: block;
    text-align: left;
    font-size: .6em;
    margin-left: 5%;
}

#pre {
    width: 100%;
    font-size: .6em;
}

#pic, #stats {
    height: 70%;
}

ul {
    padding: 0;
    margin: 0;
}

form input[type=text], input[type=select] {
    font-size: .8em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center
}

@media only screen and (min-width: 1000px) {
    #body {
        font-size: 100%;
    }
    ul {
        padding: 0;
        margin: 0;
    }
    #user,#verb {
        background-color: rgb(184, 235, 255);
        border: skyblue 1px solid;
        text-align: center;
    }
    #pokesubmit {
        border: none;
        background-image: url(pokeball.png);
    }
    #verb {
        font-size:100%;
    }
    form input[type=text], input[type=select] {
        font-size: 100%;
    }
    #reset button {
        border: red solid 1px;
        background-color: rgb(218, 218, 218);
        border-radius: 5%;
        transition: .5s;
        width: 10%;
        left: 45%;
        top: 3%;
        position: absolute;
        font-size: 100%;
    }
    #reset button:hover{
        background-color: rgb(253, 208, 208);
        cursor: pointer;
    }
    #wrapper {
        position: relative;
        width: 100%;
    }
    #enter,#pokeform {
        height: 100%;
    }

    #pokedex {
        top: 1;
        height: 90vh;
        width: 40%;
    }
    #pokeball {
        width: 22%;
        transition: .5s;
        top: 50%;
    }
    #pokeball:hover {
        width: 25%;
        cursor: pointer;
    }
    #content,#info {
        position: absolute;
        width: 32%;
        left: 34%;   
        font-size: 100%; 
    }
    #info {
        display: none;
    }
    #enter,#pokeform {
        height: 100%;
    }
    #pic, #stats {
        height: 60%;
    }
    #stats, #stats ul, #pre {
        font-size: 100%;
    }
    #pre {
        margin-bottom: -5%;
    }
    #types li {
        width: 40%;
        border-radius: 10%;
    }
    #types, #abilities ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    #flavor {
        font-size: 80%;
    }
    
    #abilities li {
        padding-left: 4px;
    }
}

#normal {
    background-color: gray;
}
#fire {
    background-color: rgb(250, 57, 57);
}
#water {
    background-color: rgb(35, 122, 252);
}
#electric {
    background-color: rgb(241, 253, 66);
}
#grass {
    background-color: greenyellow;
}
#ice {
    background-color: rgb(134, 201, 255);
}
#fighting {
    background-color: rgb(187, 69, 0);
}
#poison {
    background-color: rgb(183, 4, 228);
}
#ground {
    background-color: rgb(206, 170, 50);
}
#flying {
    background-color: rgb(128, 146, 223);
}
#psychic {
    background-color: rgb(255, 62, 207);
}
#bug {
    background-color: rgb(122, 189, 68);
}
#rock {
    background-color: rgb(168, 119, 54);
}
#ghost {
    background-color: rgb(100, 50, 116);
}
#dark {
    background-color: rgb(80, 59, 15);
}
#dragon {
    background-color: rgb(118, 44, 255);
}
#steel {
    background-color: rgb(184, 184, 184);
}
#fairy {
    background-color: pink;
}