body {font: 14px Helvetica, Arial; 
    height:100vh; 
    width:100vw; 
    resize: both; 
    background-image: url(img/grassbackground.png); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
}

#wrapper {
    position: relative;
    width: 100%;
}

#pokedex {
    width: 60%;
    height: 85vh;
    top: 1;
    
}

#content,#info {
    position: absolute;
    top: 20vh;
    text-align: center;
    width: 55%;
    left: 22.5%;
    height: 55%;
    word-wrap: break-word;
}
#info {
    display:none;
}

#pokesubmit {
    border: none;
    background-image: url(pokeball.png);
}

#pokeball {
    width: 25%;
    top: 80%;
    position: relative;
    transition: 0.5s;
}

#pokeball:hover {
    width: 30%;
    cursor: pointer;
}
#reset button{
    border: red solid 1px;
    background-color: rgb(218, 218, 218);
    border-radius: 5%;
    transition: .5s;
    width: 10%;
    left: 45%;
    top: 3%;
    position: absolute;
}

#reset button:hover{
    background-color: rgb(253, 208, 208);
    cursor: pointer;
}

#enter,#pokeform {
    height: 100%;
}

#user,#verb {
    background-color: rgb(184, 235, 255);
    border: skyblue 1px solid;
    text-align: center;
}

#pokepic {
    width: 95%;
    margin-top: -10%;
    margin-bottom: -5%;
}

#types, #abilities ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#abilities li {
    padding-left: 4px;
}

#types li{
    display: inline-block;
    margin: 8px;
    padding: 4px;
    border: 1px black solid;
    border-radius: 10%;
    width: 70px;
    text-transform: uppercase;
}

#pokename {
    text-transform:capitalize;
}

#pic {
    float: left;
    width: 55%;
    display: block;
}
#stats, #stats ul {
    float: left;
    width: 43%;
    display: block;
    text-align: left;
}

#pic, #stats {
    height: 50%;
}

ul {
    padding: 0;
    margin: 0;
}

form input[type="text"] {
    text-transform: lowercase;
}

#normal {
    background-color: gray;
}
#fire {
    background-color: rgb(250, 57, 57);
}
#water {
    background-color: rgb(35, 122, 252);
}
#electric {
    background-color: rgb(241, 253, 66);
}
#grass {
    background-color: greenyellow;
}
#ice {
    background-color: rgb(134, 201, 255);
}
#fighting {
    background-color: rgb(187, 69, 0);
}
#poison {
    background-color: rgb(183, 4, 228);
}
#ground {
    background-color: rgb(206, 170, 50);
}
#flying {
    background-color: rgb(128, 146, 223);
}
#psychic {
    background-color: rgb(255, 62, 207);
}
#bug {
    background-color: rgb(122, 189, 68);
}
#rock {
    background-color: rgb(168, 119, 54);
}
#ghost {
    background-color: rgb(100, 50, 116);
}
#dark {
    background-color: rgb(80, 59, 15);
}
#dragon {
    background-color: rgb(118, 44, 255);
}
#steel {
    background-color: rgb(184, 184, 184);
}
#fairy {
    background-color: pink;
}

@media only screen and (min-width: 1000px) {
    #pokedex {
        width: 35%;
    }
    #pokeball {
        width: 22%;
        transition: .5s;
        top: 50%;
    }
    #pokeball:hover {
        width: 25%;
        cursor: pointer;
    }
    #content,#info {
        position: absolute;
        width: 32%;
        left: 34%;    
    }
    #info {
        display: none;
    }
    #enter,#pokeform {
        height: 100%;
    }
}